
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corPrincipal: #0F7E96;
    --segundaCor: #128EA6;
    --terceiraCor: #159DB3;
    --quartaCor:#16B3C4;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
}

header {
    background-color: var(--corPrincipal);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}


header h1 {
    margin-left:60px;
    font-size: 2em;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#carrinho-btn {
    width: 30px;
    height: 30px;
    background-color: var(--corPrincipal);
    border: none;
    cursor: pointer;
}

#carrinho-btn img{
    width: 30px;
    height: 30px;
}

#carrinho {
    position: absolute;
    top: 28%; 
    right: 40%; 
    width: 400px;
    height: 500px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 10px;
    display: none;
}

#carrinho.show {
    display:grid;
    justify-content: center;
    align-items: center; 
}

main {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}


main section div img{
    width: 100%;   
}


footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: var(--corPrincipal);
    color: #fff;
}

 .produtos{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
 }
 

 .produtoUm{
   background-color: var(--terceiraCor);
   width: 300px;
   height: 400px;
   border-radius: 10%;
   margin: 10px;
 }

 .produtoUm:hover {
    width: 325px;
    height: 425px;
    transition: 0.5s;
 }
 
 .produtoUm h3{
    display:flex;
    justify-content: center;
 }

 .produtoDois{
    background-color: var(--terceiraCor);
   width: 300px;
   height: 400px;
   border-radius: 10%;
   margin: 10px;
   
 }

 .produtoDois:hover {
    width: 325px;
    height: 425px;
    transition: 0.5s;
 }
 
 .produtoDois h3{
    display:flex;
    justify-content: center;
 }

 .produtoTres{
    background-color: var(--terceiraCor);
    width: 300px;
    height: 400px;
    border-radius: 10%;
    margin: 10px;
    
  }

  .produtoTres:hover {
    width: 325px;
    height: 425px;
    transition: 0.5s;
 }

 .produtoTres h3{
    display:flex;
    justify-content: center;
 }
 
  .produtoQuatro{
     background-color: var(--terceiraCor);
    width: 300px;
    height: 400px;
    border-radius: 10%;
    margin: 10px;
    
  }

  .produtoQuatro:hover {
    width: 325px;
    height: 425px;
    transition: 0.5s;
 }

 .produtoQuatro h3{
    display:flex;
    justify-content: center;
 }

 .rowFoot{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
 }